.dark-mode {
  filter: invert(100%);
  transition: filter 1s ease;
}
.light-mode {
  filter: invert(0%);
  transition: filter 1s ease;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: red;
  /* filter: invert(100%); */

}
.App-Background {
  position: fixed;
  top: 0px;
  height: auto;
  width: 100vw;
  right: 50%;
  scale: 2.5;
  filter: hue-rotate(220deg) brightness(.5) blur(30px) saturate(.8);
}
.App-Foreground {
  position: absolute;
  scale: 1.5;
  opacity: .025;
  height: inherit;
  width: auto;
  /* background-color: green; */
}
.App-Content-Container {
   display: flex;
   flex-direction: row;
   height: 100vh;
   width: 100vw;
   /* background-color: cyan; */
   z-index: 5;
}
.App-Left-Container {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* background-color: rgba(255, 0, 0, 0.8); */
  overflow: hidden;
  z-index: 5;
}
.App-Banner-Container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  max-width: 60%;
  margin: auto 0px;
  padding: 50px;
  /* background-color: cyan; */
}
.App-Banner-Container p {
  color: rgb(235, 235, 235);
  font-size: 20pt;
  text-align: left;
  margin-top: 0px;
}
.App-Right-Container {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  height: inherit;
  background-color: rgba(225, 225, 225, 1);
  z-index: 5;
}
.App-Form-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: auto 0px;
  padding: 40px;
  background-color: rgba(225, 225, 225, 1);
  border-radius: 25px;
  z-index: 1;
}
.App-Form-Container p {
  color: rgb(20,20,20);
}
.App-Form-Logo {
  position: absolute;
  width: 200px;
  margin-top: 00px;
  z-index: 9999;
}
.App-link {
  color: rgb(20,20,20);
  text-decoration: none;
  margin-top: 30px;
}
.App-Signup-Text {
  cursor: pointer;
  color: rgb(0, 8, 255);
  z-index: 1;
}
.App-Back-Button {
  cursor: pointer;
  position: absolute;
  margin-left: -225px;
  fill: rgb(20,20,20);
  height: 25px;
  width: 25px;
}

.Form {
  display: flex;
  flex-direction: column;
}
.Form-Header {
  display: flex;
  flex-direction: column;
  color: rgb(235,235,235);
  font-size: 15pt;
  margin-top: 0px;
  margin-bottom: 20px;
}
.Form-Textbox{
  color: rgb(20,20,20);
  text-align: center;
  font-size: 12pt;
  height: 40px;
  width: 250px;
  margin: 5px 0px;
  border-radius: 30px;
  border: 2px solid #ccc;
  outline: none;
  background-color: rgb(200,200,200);
}
.Form-Textbox:focus {
  border-color: rgb(0, 132, 255);
}
.Form-Submit {
  align-self: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(20,20,20);
  font-weight: bold;
  font-size: 12pt;
  height: 40px;
  width: 150px;
  margin: 5px 0px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  /* border: 2px solid rgb(255, 149, 0); */
  background-color: rgb(255, 149, 0);
}

.Assessment {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  height: 100vh;
  width: fit-content;
  max-width: 1000px;
  margin: 100px 0px;
  padding-bottom: 200px;
  overflow: auto;
  z-index: 9990;
  /* background-color: red; */
}
.Assessment::-webkit-scrollbar {
  display: none;
  background-color: rgb(235, 235, 235);
}
#Assessment-1 {
  /* z-index: 2; */
}
#Assessment-2 {
  /* z-index: 1; */
}
.Assessment-Title {
  cursor: pointer;
  color: rgba(20,20,20,1);
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  height: fit-content;
  width: 400px;
  margin: 0px;
  padding: 20px 0px;
  border-radius: 25px 25px 0px 0px;
  z-index: 9998;
}
.Assessment-Titles {
  display: flex;
  flex-direction: row;
}
#Assessment-Title-1 {
  /* color: rgb(37, 81, 126); */
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.35);
}
#Assessment-Title-2 {
  /* color: rgb(129, 60, 99); */
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.35);
}
.Assessment-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: fit-content;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-left: 0px;
  border-top: 1px solid rgb(200,200,200);
  z-index: 10;
}
.Assessment-Container p {
  text-align: center;
}
.Assessment-Submit {
  cursor: pointer;
  color: rgb(20,20,20);
  font-weight: bold;
  font-size: 15pt;
  height: 60px;
  width: 250px;
  margin: 50px 0px;
  scale: .8;
  border-radius: 100px;
  border: none;
  /* border: 2px solid rgb(255, 149, 0); */
  background-color: rgb(255, 149, 0);
}
.Assessment-Submit:hover {
  background-color: rgb(224, 131, 0);
}

.Question-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  margin: 25px;
}
.Question-Text {
  font-size: 20pt;
  margin: 20px;
}
.Rating-Container {
  display: flex;
  flex-direction: row;
}
.Question-Rating-Button {
  cursor: pointer;
  color: rgba(20,20,20,.5);
  /* font-weight: bold; */
  font-size: 12pt;
  height: 60px;
  width: 60px;
  margin: 0px 10px;
  border: 4px solid rgba(20, 20, 20, .5);
  border-radius: 100%;
}
.Question-Rating-Button:hover {
  border: 4px solid rgb(0, 132, 255);
}
#Question-Rating-Button-2:hover {
  border: 4px solid rgb(52, 26, 170);
}
.Question-Rating-Key {
  color: rgba(20, 20, 20, .75);
  font-size: 13pt;
  margin: auto 20px;
}

.MainPage {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* filter: invert(100%); */
  /* background-color: rgb(75,75,75); */
}
.MainPage-Navigation-Bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  height: 65px;
  width: 100vw;
  padding: 10px 0px;
  /* margin-left: -50%; */
  /* backdrop-filter: blur(25px) brightness(.5); */
  /* background-color: rgb(20, 20, 20); */
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid rgb(200,200,200); 
  z-index: 99999;
}
.MainPage-Navigation-Bar-Background {
  display: none;
  position: absolute;
  left: 0;
  height: 150px;
  width: 150vw;
  margin-top: -50px;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, .3);
  filter: blur(25px);
  /* backdrop-filter: blur(20px) brightness(1); */
  z-index: 9998;
}
.MainPage-Navigation-Bar-Push {
  height: 150px;
  width: 100vw;
}
.MainPage-Navigation-Logo-Container {
  position: absolute;
  height: auto;
  width: 150px;
  left: calc(50vw - 75px);
  /* margin-left: auto;
  margin-right: auto; */
}
.MainPage-Navigation-Logo {
  scale: .2;
  /* margin-right: calc(50vw); */
}
.MainPage-Background {
  /* display: none; */
  position: fixed;
  top: 0px;
  right: 0;
  height: 100vh;
  width: 100vw;
  /* scale: 2.5; */
  background-color: rgb(235,235,235);
  /* filter: hue-rotate(220deg) brightness(.5) blur(30px) saturate(.8); */
}

.MiscPage-Container {
  position: absolute;
  top: 100px;
  z-index: 10000;
}
.MiscPage {
  height: fit-content;
  align-items: center;
  width: 680px;
  padding: 40px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}
.MiscPage-Background-Dim {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .3);
  /* backdrop-filter: brightness(1); */
  z-index: 9998;
}

.Nav-Bar-Item {
  scale: 1;
  margin: 0px;
  width: fit-content;
  /* background-color: red; */
  z-index: 9999;
}
.Nav-Bar-Item p {
  /* color: rgb(235,235,235); */
  color: rgb(20,20,20);
  font-size: 12pt;
  margin: 10px;
}
.Nav-Bar-Link {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.Nav-Bar-Link svg {
  /* fill: rgb(235,235,235); */
  fill: rgb(20, 20, 20);
  height: 20px;
  width: 20px;
  margin: auto 0px;
}
.Nav-Bar-Link:hover {
  filter: brightness(.8);
}
.Menu-Container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* background-color: red; */
}
.Menu-Content-Container {
  position: absolute;
  /* margin-left: -1000px; */
  margin-top: 55px;
  right: 0px;
}
.Menu-Content {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 250px;
  margin-left: calc(50% - 20px);
  padding: 10px 20px;
  background-color: rgb(235,235,235);
  border-right: 1px solid rgb(200,200,200);
  border-radius: 0px;
}
.Menu-Content p {
  cursor: pointer;
  color: rgb(20, 20, 20);
  font-size: 10pt;
  height: fit-content;
  width: 200px;
  margin: 5px;
  padding: 10px;
  /* background-color: rgb(235,235,235); */
  border-radius: 5px;
  z-index: 5;
}
.Menu-Content p:hover {
  color: rgb(0, 132, 255);
  background-color: rgb(211, 225, 239);
}
.Menu-Content-Seperator {
  align-self: center;
  height: 1px;
  width: calc(200px + (0 * 20px));
  background-color: rgb(200,200,200);
}

#Logout-Container {
  margin-right: 50px;
}

.Info-Text {
  color: rgb(150, 150, 150);
  font-size: 9pt;
  font-style: italic;
  margin-bottom: 0px;
}

@media (max-width: 800px) {

  .App-Background {
    height: 100vh;
    width: auto;
  }
  .Assessment {
    top: -150px;
    scale: .7;
    z-index: 1;
  }
  .Scores-Container,
  .Logout-Container {
    scale: .8;
  }
  /* .Scores-User {
    display: none;
  } */
  .MainPage-Navigation-Logo {
    scale: .8;
    /* display: none; */
  }

  .MainPage-Background {
    height: 100vh;
    width: auto;
    z-index: 0;
  }

}